/*  LABEL
==============================================================================*/



/*
**
**  Apply the label class on inline element
**
*/



.af-label {
  padding: .1rem .5rem;
  border-bottom: 0;
  background: $second-color;
  color: #fff;
  font-style: italic;
}
